{{- if .Values.whoami.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: {{ include "metallb-gateway.namespace" . }}
  labels:
    app: whoami
    app.kubernetes.io/part-of: metallb-gateway
spec:
  replicas: {{ .Values.whoami.deployment.replicas }}
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
      - name: whoami
        image: "{{ .Values.whoami.image.registry }}/{{ .Values.whoami.image.repository }}:{{ .Values.whoami.image.tag }}"
        imagePullPolicy: {{ .Values.whoami.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 80
          protocol: TCP
        resources:
          {{- toYaml .Values.whoami.deployment.resources | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
{{- end }}
